
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     

    <title>Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->

  </head>

  <body>

<!--header-->
<header id="home" class="site-header">
 <nav class=" text-uppercase navbar navbar-expand-md bg-dark navbar-dark ">
	<div class="container-fluid">
		<a class="navbar-brand" href="#home"><i class="fa fa-cube"></i> Aj company</a>

	 	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-label="Navigation">
	 		<span class="navbar-toggler-icon"></span>
	 	</button>

	 	<section class="collapse navbar-collapse" id="myNav">
	 		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="#home">home</a>
			<a class="nav-item nav-link" href="#jobs">jobs</a>
	    </div>	
	 	</section>
	</div>	
 </nav>

  <section class="layout-home d-flex align-items-center text-light text-center py-5">
  	<div class="container">
  		<div class="row justify-content-center">
	  		 <div class="col-11 col-sm-10 col-md-8">
	  		   <h3 class="page-section-title">Aj company</h3>
	  		   <img src="{%static 'images/1.jpg'%}" class="img-fluid rounded-circle border-2 mb-3 img-thumbnail " style="width:60%; height: 400px; ">
  		       <p></p><a href="mailto:abrar.adam.09@gmail.com" class="btn  btn-warning btn-lg">Email Me</a></p>
	  		 </div>	
  		</div>
  	</div>
  </section>
 </header>

 <!--jobs-->
<!--jobs-->
<article id="jobs" class="page-services  py-5 mt-6">
	<header class="text-center mb-3 container">
		<div class="row justify-content-center">
	  	 <div class="col-11 col-sm-10 col-md-8">
		<h2 class="page-section-title" >Work Experince</h2>
		<p class="page-section-text"></p>
	</div>
  </div>
	</header>
 <style type="text/css">
	img{
	width: 100%;
	height: 200px;
	min-height: 200px;
	}
 </style>

	<section class="container">	
	   <div class="row ">
		{% for jop in jops.all %}
		<section class="card mb-2 col-10 col-md-6 col-lg-4">
			<div class="card-body">
				<img class="img-fluid card-image-top mt-2" src="{{ jop.image.url }}" class="rounded">
			
			  <p class="card-text">{{ jop.summary }}</p>
            <a class=" card-link btn btn-warning" href="{% url 'detail' jop.id %}">Read more</a>
			</div>  
		</section><!--section-->
		{% endfor %}
	   </div>	
	</section>
 </article> <!--servicess-->

  <!--footer-->
<!--footer-->
<footer class="site-footer bg-dark text-light d-flex justify-content-center">
    <section class="layout-social py-5">
      <a class="text-light py-2" href="https://twitter.com/planetoftheweb">
        <i class="layout-icon fab fa-twitter"></i>
      </a>
      <a class="text-light px-2" href="https://facebook.com/viewsource">
        <i class="layout-icon fab fa-facebook"></i>
      </a>
      <a class="text-light px-2" href="https://linkedin.com/in/planetoftheweb">
        <i class="layout-icon fab fa-linkedin"></i>
      </a>
      <a class="text-light px-2" href="https://github.com/planetoftheweb">
        <i class="layout-icon fab fa-github"></i>
      </a>
      <a class="text-light px-2" href="https://plus.google.com/+RayVillalobos0">
        <i class="layout-icon fab fa-google-plus"></i>
      </a>
      <a class="text-light px-2" href="https://dribbble.com/planetoftheweb">
        <i class="layout-icon fab fa-dribbble"></i>
      </a>
      <a class="text-light px-2" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
        <i class="layout-icon fab fa-flickr"></i>
      </a>
      <a class="text-light px-2" href="https://www.youtube.com/user/planetoftheweb">
        <i class="layout-icon fab fa-youtube"></i>
      </a>
    </section><!--layout-social-->
  
 </footer><!--footer-->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-slim.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
   
   
  </body>


</html>
